/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 nov. 2023, 11:50:36
    Author     : mati.raveneau
*/
h1 {
    font-size: 20px;
    align-text: center;
    color: red;
    border-bottom: 2px solid red;
}
